body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("https://images.wallpaperscraft.ru/image/les_tuman_derevia_151477_3840x2400.jpg") fixed;
    font-family: sans-serif;
    text-align: center;
}
h1{
    color: #ffffff;
    font-family: Mistral;
    font-size: 500px;
}
h2{
    color: #ffffff;
    font-family: Mistral;
    font-size: 50px;
}
.main{
    width: 100%;
    /*background: black;*/
    /*opacity: .4;*/
    position: absolute;
}
.opacity{
    width: 10000px;
    height: 10000px;
    position: absolute;
    background: black;
    opacity: .4;
    /*border: 2px solid white;*/
}
.one{
    width: 33%;
    height: 50%;
    position: relative;
    /*border: 2px solid white;*/
}
.two{
    width: 33%;
    height: 50%;
    position: relative;
    left: 32%;
    /*transform: translate(630px, -504px);*/
    /*border: 2px solid white;*/
}
.three{
    width: 33%;
    height: 50%;
    position: relative;
    left: 65%;
    /*transform: translate(1260px, -1008px);*/
    /*border: 2px solid white;*/
}
.twotwo{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.threethree{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.naeb1{
    position: center;
    width: 500px;
    height: 500px;
}
.naeb2{
    position: center;
    width: 500px;
    height: 500px;
}
.naeb3{
    position: center;
    width: 500px;
    height: 500px;
}
.oneh{
    position: absolute;
    top: -10%;
    left: 35%;
    /*border: 2px solid white;*/
}
.twoh{
    position: absolute;
    top: -5%;
    left: 35%;
    /*border: 2px solid white;*/
}
.threeh{
    position: absolute;
    top: -10%;
    left: 35%;
    /*border: 2px solid white;*/
}
.left{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 15%;
    left: 15%;
    opacity: .6;
}
.middle{
    width: 400px;
    height: 600px;
    position: absolute;
    top: -17%;
    left: 25%;
    opacity: .6;
}
.right{
    width: 550px;
    height: 500px;
    position: absolute;
    top: 6%;
    left: 8%;
    opacity: .6;
}
.container{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 20%;
    /*transform: translate(33%, -600%);*/
    /*border: 2px solid white;*/
}
.container a{
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    color: darkgray;
    text-align: center;
    padding-top: 5px;
}
.container a:hover{
    color: saddlebrown;
}
input[type="text"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    width: 300px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
