.bbox{
    width: 30%;
    height: 90%;
    background: darkslategray;
    color: #ffffff;
    bottom: calc(0% + 20px);
    left: 2%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px;
}
.imag{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: calc(0% - 20px);
    left: calc(100% - 260px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 70px;
    font-family: Mistral;
}
h2{
    font-family: "OCR A Extended";
    position: absolute;
}
h3{
    position: absolute;
    top: 65%;
    left: 22%;
}
h4{
    font-family: "OCR A Extended";
    position: absolute;
}
p{
    text-align: left;
}
.bbox input[type="submit"]{
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    background: #ff7f48;
    color: #ffffff;
    font-size: 13px;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: calc(50% - 50px);
}
.bbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ff0c32;
    color: #000000;
}
.krug{
    position: absolute;
    top: calc(100% - 60px);
    left: calc(100% - 300px);
    width: 500px;
    height: 500px;
    background: darkslategray;
    border-radius: 50%;
}
.card{
    width: 350px;
    height: 200px;
    background: #ff7f48;
    border-radius: 20px;
    position: absolute;
    top: 35%;
    left: calc(50% - 175px);
}

.display{
    visibility: hidden;
    opacity: 0;
    transition: 1.5s;
}

input[type="checkbox"]:checked ~ .display{
    visibility: initial;
    opacity: 1;
}

.number{
    position: absolute;
    top: 20%;
    left: 25%;
}
.month{
    position: absolute;
    top: 60%;
    left: 10%;
}
.year{
    position: absolute;
    top: 60%;
    left: 25%;
}
.CVV{
    position: absolute;
    top: 60%;
    left: 70%;
}

.number1{
    position: absolute;
    top: 10%;
    left: 5%;
}
.month1{
    position: absolute;
    top: 65%;
    left: 12%;
}
.year1{
    position: absolute;
    top: 65%;
    left: 25%;
}
.CVV1{
    position: absolute;
    top: 65%;
    left: 70%;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    /*border: 2px solid white;*/
}

.check{
    cursor: pointer;
    width: 80px;
    height: 40px;
    /*border: 2px solid white;*/
}
/*.check:hover{
    filter: brightness(1.1);
}*/
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked ~ .ch{
    background-color: #ff7f48;
}
input[type="checkbox"]:checked ~ .ch::before{
    background-color: darkgray;
    left: 44px;
}
.ch{
    position: relative;
    background-color: darkgray;
    outline: none;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    /*transform: translate(20px, -2px);*/
    transition: 0.3s;
}
.ch::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    background-color: #ff7f48;
    border-radius: 50%;
    transition: 0.3s;
}
