.out{
    position: absolute;
    border: 2px solid black;
}
.box{
    width: 30%;
    height: 90%;
    background: darkslategray;
    color: #ffffff;
    bottom: 0%;
    left: 0%;
    position: absolute;
    box-sizing: border-box;
    padding: 80px 0px;
    border-radius: 70px;
    transform: translate(3%, -3%);
}
.box h2{
    color: #ffffff;
    font-family: Mistral;
    font-size: 80px;
    border: 2px solid black;
}
.im{
    border: 100px solid black;
    position: absolute;
}
.image{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(100px, 500px);
}