.loginbox{
    width: 550px;
    height: 650px;
    background: darkslategray;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 30px;
    border-radius: 20px;
    box-shadow:  0 0 20px rgba(0,0,0,0.5);
}
.avatar{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -75px;
    left: calc(50% - 75px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    font-family: Mistral;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-width: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 30px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #ff7f48;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ff0c32;
    color: #000000;
}
.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    color: darkgray;
    text-align: center;
}
.loginbox a:hover{
    color: saddlebrown;
}
.check{
    cursor: pointer;
}
.check:hover{
    filter: brightness(1.1);
}
.loginbox input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked ~ .ch{
    background-color: #ff7f48;
}
input[type="checkbox"]:checked ~ .ch::before{
    background-color: darkgray;
    left: 44px;
}
.ch{
    position: relative;
    background-color: darkgray;
    outline: none;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    transform: translate(20px, -2px);
    transition: 0.3s;
}
.ch::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    background-color: #ff7f48;
    border-radius: 50%;
    transition: 0.3s;
}

