{% extends 'BASE.html' %}

{% block title %}
   LM - Добро пожаловать!
{% endblock %}

{% block navbuttons %}
    {% if current_user.username %}
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Войдите</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Profile') }}">{{ current_user.username }}<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Logout') }}">Выйти<span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('SingIn') }}">Войдите<span class="sr-only">(current)</span></a>
        </li>
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/MainPage.css">
{% endblock %}

{% block content %}
    {#<form action="" method="post" novalidate>#}
            <div class="head">
                <h1>Добро пожаловать</h1>
                {% if current_user.username %}
                    <h2>Рады вас видеть :* |{{ current_user.username }}|</h2>
                {% else %}
                    <h2>Рады вас видеть :*</h2>
                {% endif %}
            </div>
            <div class="Alway_sready">
                <h3>"Хранить наследство — вовсе не значит</h3>
                <h3> ещё ограничиваться этим наследством."</h3>
                <img src="https://avatars.mds.yandex.net/get-pdb/1920375/d5fb0107-d3f2-4a60-a3c4-fce34cd0d0a9/s1200" class="alwaysready">
            </div>
            <div class="fox1"><img src="https://wmpics.pics/di-JFAX.gif" class="fox"></div>
            <div class="one">
                <h2>Немного о нашем музее</h2><br>
                <p>Здравствуйте! Вы можете зарегистрироваться на сайте или войти, если у Вас уже есть аккаунт. Расширить функции аккаунта, добавив больше данных о себе. Дальше можно ознакомиться с выставками в нашем музее и добавить в корзину билеты и приобрести их </p>
            </div>
            <div class="mid">

            </div>
            <div class="three"></div>
            <div class="volf1"><img src="https://i.pinimg.com/originals/29/9d/02/299d029dc49b4d2f433ea5bb80d3d713.gif" class="volf" ></div>
            <div class="two">
                <h2>Наши выставки</h2>
                <div class="slider middle">
                    <div class="slides">
                        <input type="radio" name="r" id="r1" checked>
                        <input type="radio" name="r" id="r2">
                        <input type="radio" name="r" id="r3">
                        <input type="radio" name="r" id="r4">
                        {#<input type="radio" name="b" id="b1">
                        <input type="radio" name="b" id="b2">
                        <input type="radio" name="b" id="b3">
                        <input type="radio" name="b" id="b4">
                        <input type="radio" name="b" id="b5">
                        <input type="radio" name="b" id="b6">#}
{#                        <h2>{{ exhibition1 }}</h2>#}
                        <div class="slide s1">
                            {#<img src="https://s2.best-wallpaper.net/wallpaper/3840x1200/1906/Banff-National-Park-Canada-trees-lake-water-reflection_3840x1200.jpg ">#}
                            {#<label for="b1" class="rig1"></label>#}
                            <h2>{{ exhibition1 }}</h2>
                            <h3>Зал:{{ hall_name1 }}<br><br><br>
                                Этаж:{{ floor1 }}<br><br><br>
                                Стоимость - обычный билет:{{ price1 }}<br><br>
                                            детский билет:{{ price1d }}</h3>
                            {% if current_user.username %}
                                <div class="up"><form action="" method="post" name="f1" novalidate>{{ f1.submit1()}} {{ f1.csrf_token }}</form></div>
                                <div class="down"><form action="" method="post" novalidate>{{ f1d.submit1d()}} {{ f1d.csrf_token }}</form></div>
                            {% endif %}
                        </div>
                        <div class="slide s2">
                            {#<img src="https://s2.best-wallpaper.net/wallpaper/3840x1200/1607/Dolomites-sunrise-snow-winter-Italy_3840x1200.jpg">#}
                            {#<label for="b2" class="lef2"></label>
                            <label for="b3" class="rig2"></label>#}
                            <h2>{{ exhibition2 }}</h2>
                            <h3>Зал:{{ hall_name2 }}<br><br><br>
                                Этаж:{{ floor2 }}<br><br><br>
                                Стоимость - обычный билет:{{ price2 }}<br><br>
                                            детский билет:{{ price2d }}</h3>
                            {% if current_user.username %}
                                <div class="up"><form action="" method="post" novalidate>{{ f2.submit2()}} {{ f2.csrf_token }}</form></div>
                                <div class="down"><form action="" method="post" novalidate>{{ f2d.submit2d()}}  {{ f2d.csrf_token }}</form></div>
                            {% endif %}
                        </div>
                        <div class="slide s3">
                            {#<img src="http://getwallpapers.com/wallpaper/full/9/a/e/576049.jpg">#}
                            {#<label for="b4" class="lef3"></label>
                            <label for="b5" class="rig3"></label>#}
                            <h2>{{ exhibition3 }}</h2>
                            <h3>Зал:{{ hall_name3 }}<br><br><br>
                                Этаж:{{ floor3 }}<br><br><br>
                                Стоимость - обычный билет:{{ price3 }}<br><br>
                                            детский билет:{{ price3d }}</h3>
                            {% if current_user.username %}
                                <div class="up"><form action="" method="post" novalidate>{{ f3.submit3()}} {{ f3.csrf_token }}</form></div>
                                <div class="down"><form action="" method="post" novalidate>{{ f3d.submit3d()}} {{ f3d.csrf_token }}</form></div>
                            {% endif %}
                        </div>
                        <div class="slide s4">
                            {#<img src="https://www.tokkoro.com/picsup/1386619-landscape.jpg">#}
                            {#<label for="b6" class="lef4"></label>#}
                            <h2>{{ exhibition4 }}</h2>
                            <h3>Зал:{{ hall_name4 }}<br><br><br>
                                Этаж:{{ floor4 }}<br><br><br>
                                Стоимость - обычный билет:{{ price4 }}<br><br>
                                            детский билет:{{ price4d }}</h3>
                            {% if current_user.username %}
                                <div class="up"><form action="" method="post" novalidate>{{ f4.submit4()}} {{ f4.csrf_token }}</form></div>
                                <div class="down"><form action="" method="post" novalidate>{{ f4d.submit4d()}} {{ f4d.csrf_token }}</form></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="naw">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                        <label for="r4" class="bar"></label>
                    </div>
                </div>
            </div>
            <div class="three"></div>
            {#<div class="end">

            </div>#}
    {#</form>#}
{% endblock %}
