{% extends 'BASE.html' %}

{% block title %}
    Добро пожаловать!
{% endblock %}

{% block navbuttons %}
    {% if current_user.username %}
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Войдите</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Profile') }}">{{ current_user.username }}<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Logout') }}">Выйти<span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('SingIn') }}">Войдите<span class="sr-only">(current)</span></a>
        </li>
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/MainPage.css">
{% endblock %}

{% block content %}
            <div class="head">
                <h1>Добро пожаловать</h1>
                {% if current_user.username %}
                    <h2>Рады вас видеть :* {{ current_user.username }}</h2>
                {% else %}
                    <h2>Рады вас видеть :*</h2>
                {% endif %}
            </div>
            <div class="Alway_sready">
                <h3>"Хранить наследство — вовсе не значит</h3>
                <h3> ещё ограничиваться этим наследством."</h3>
                <img src="https://avatars.mds.yandex.net/get-pdb/1920375/d5fb0107-d3f2-4a60-a3c4-fce34cd0d0a9/s1200" class="alwaysready">
            </div>
            <div class="fox1"><img src="https://wmpics.pics/di-JFAX.gif" class="fox"></div>
            <div class="one">
                <h2>Немного о нашем музее</h2><br>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </p>
            </div>
            <div class="mid">

            </div>
            <div class="volf1"><img src="https://i.pinimg.com/originals/29/9d/02/299d029dc49b4d2f433ea5bb80d3d713.gif" class="volf" ></div>
            <div class="two">
                <h2>Дратути</h2>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </p>
            </div>
            <div class="end">

            </div>
{% endblock %}

