{% extends 'BASE.html' %}

{% block title %}
    LM - Ваш профиль
{% endblock %}


{% block navbuttons %}
    <li class="nav-item">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Войдите</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('Profile') }}">{{ current_user.username }}<span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('Logout') }}">Выйти<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}


{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/Profile.css">
{% endblock %}


{% block content %}
    <form action="" method="post" novalidate>
    <div class="out">
        <div class="bbox">
            <h1>{{ current_user.username }}</h1>
            {% if extend != 0 %}
                <p>Наконец-то все готово!<br>Теперь вы можете приступать к покупке билетов.</p>
                <p class="p">Ваша карта успешно добавлена!</p>
                <div class="card1">
                    <div class="number1"><h2>{{ card }}</h2></div>
                    <div class="month1"><h4>{{ month }}</h4></div>
                    <div class="year1"><h4>{{ year }}</h4></div>
                    <div class="CVV1"><h4>***</h4></div>
                    <h3>/</h3>
                </div>
                <div class="have">
                <h6>Ваши билеты:</h6>
                    {% for tk in take %}
                        <div class="inin">
                            <h6>№Билета::{{ tk.tic }} | Выставка::{{ tk.exhib }} | Тип билета::{{ tk.typ }} | Стоимость::{{ tk.pric }}</h6>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Может быть Вы хотите добавить еще немного информации о себе?<br>Это позволит Вам покупать и оплачивать билеты.</p>
                <br>
                <label class="check">
                    <input type="checkbox" name="">
                    <div class="ch"></div>
                    <br>
                    <div class="display">

                            {{ form.hidden_tag() }}
                            <div class="card">
                                <div class="number">{{ form.card(size=20, placeholder="5500 0000 0000 0000") }}</div><br>
                                <div class="month">{{ form.month(size=1, placeholder="mon") }}</div><br>
                                <div class="year">{{ form.year(size=1, placeholder="year") }}</div><br>
                                <div class="CVV">{{ form.CVV(size=1, placeholder="CVV") }}</div>
                                <h3>/</h3>
                            </div>
                            <br><br><br>
                        <form action="" method="post" novalidate>{{ form.submit() }}</form><br>
                    </div>
                </label>
            {% endif %}
        </div>
    </div>
    </form>

    <div class="krug"></div>
    <img src="https://pa1.narvii.com/7015/07fdf723dc0fc3922df9fc2e5febeec4de6ae2b0r1-320-270_hq.gif" class="imag">
    {% if card %}
        <div class="basket">
            <h1>Корзина</h1>
            <div class="inside">
                {% if proverka == 0 %}
                    <h6>Пока что тут пусто</h6>
                {% else %}
                    {% for tok in tiktok2 %}
                        <div class="inin">
                            <h6>Выставка::{{ tok.exhibition }} | Тип билета::{{ tok.type }} | Стоимость::{{ tok.price }}</h6>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if yyes == 0 %}
                <div class="yes"><form action="" method="post" novalidate>{{ f.yes }}</form></div>
                <div class="no"><form action="" method="post" novalidate>{{ f.no }}</form></div>
            {% else %}
                <form action="" method="post" novalidate>
                    {{ f.hidden_tag() }}
                    <div class="yes">{{ f.CVV(placeholder="Введите CVV") }}</div>
                    <div class="no2">{{ f.yes2 }}</div>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
