{% extends 'BASE.html' %}

{% block title %}
    Ваш профиль
{% endblock %}


{% block navbuttons %}
    <li class="nav-item">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Войдите</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('Profile') }}">{{ current_user.username }}<span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('Logout') }}">Выйти<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}


{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/Profile.css">
{% endblock %}


{% block content %}
    <div class="out">
        <div class="bbox">
            <h1>{{ current_user.username }}</h1>
            <p>Может быть Вы хотите добавить еще немного информации о себе?<br>Это позволит Вам покупать и оплачивать билеты.</p>
            <input type="submit" name="" value="Добавить">
        </div>
    </div>
    <img src="https://pa1.narvii.com/7015/07fdf723dc0fc3922df9fc2e5febeec4de6ae2b0r1-320-270_hq.gif" class="imag">
{% endblock %}
