{% extends 'BASE.html' %}

{% block title %}
    LM - Поиск "{{ dodik }}"
{% endblock %}

{% block navbuttons %}
    {% if current_user.username %}
        <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Войдите</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Profile') }}">{{ current_user.username }}<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('Logout') }}">Выйти<span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('SingIn') }}">Войдите<span class="sr-only">(current)</span></a>
        </li>
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/Search.css">
{% endblock %}

{% block content %}
    {% if exhibits_list == [] %}
        <h1>По запросу "{{ dodik }}" ничего не найдено</h1>
    {% else %}
        <h1>Результаты по запросу: "{{ dodik }}"</h1>
        {% for exhibit in exhibits_list %}
            <div class="exhibit">
                <h6>{{ exhibit.exhibit_name }}</h6>
                <h6>Вид: {{ exhibit.view_name }}</h6>
                <h6>Тип экспоната: {{ exhibit.type_name }}</h6>
                <h6>Экспозиция: {{ exhibit.exposition_name }}</h6>
                <h6>Выставка: {{ exhibit.exhibition_name }}</h6>
                <h6>Зал: {{ exhibit.hall_name }}</h6>
            </div>
        {% endfor %}
    {% endif %}
    <img src="http://cdn.benchmark.pl/uploads/image/SearchDog.gif" class="doggi">
{% endblock %}
