{% extends 'BASE.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/SingIn.css">
{% endblock %}

{% block title %}
    Войдите
{% endblock %}

{% block navbuttons %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('SingIn') }}">Войдите<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block content %}
    <div class="loginbox">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Creative-Tail-Animal-zebra.svg/256px-Creative-Tail-Animal-zebra.svg.png" class="avatar">
        <h1>Логинься уже!</h1>
        {#<form>
            <p>Логин</p>
            <input type="text" name="" placeholder="Введите имя пользователя">
            <p>Пароль</p>
            <input type="password" name="" placeholder="Введите пароль"><br>
            <input type="submit" name="" value="OK!"><br>
            <a href="{{ url_for('Loh') }}">Забыли пароль?</a><br>
            <a href="{{ url_for('SingUp') }}">Хотите зарегистрироваться?</a>
        </form>#}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: powderblue;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: powderblue;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me.label }}{{ form.remember_me() }}</p>
            <p>{{ form.submit() }}</p>
            <a href="{{ url_for('Loh') }}">Забыли пароль?</a><br>
            <a href="{{ url_for('SingUp') }}">Хотите зарегистрироваться?</a>
        </form>
    </div>
{% endblock %}


