{% extends 'BASE.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/SingUp.css">
{% endblock %}

{% block title %}
    LM - Зарегистрируйтесь
{% endblock %}

{% block navbuttons %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('SingIn') }}">Войдите<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block content %}
    <div class="loginbox">
        <h1>Какой прекрасный день для регистрации</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=30, placeholder="Введите Ваше имя") }}<br>
                {% for error in form.username.errors %}
                    <span style="color: powderblue;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=10, placeholder="Придумайте пароль") }}<br>
                {% for error in form.password.errors %}
                    <span style="color: powderblue;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=10, placeholder="Придумайте пароль") }}<br>
                {% for error in form.password2.errors %}
                    <span style="color: powderblue;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            <a href="{{ url_for('SingIn') }}">Уже есть аккаунт?</a>
        </form>
    </div>
{% endblock %}
